<%-include("../header") -%>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="css/about.css" />
<section id="about">
  <div class="about-picture about-common">
    <img src="images/about/about-1.png" loading="lazy" alt="About Image" />
  </div>
  <div class="about-we-care about-common">
    <h1>About We Take Care</h1>
    <p>
      Health is an aspect that you should not take lightly. Treat all your
      physical ailments with the power of Physiotherapy. "We Take Care" is one
      of the most trusted Physiotherapy Service providers who emphatically treat
      your joint disorders We work with you throughout your healing process from
      start to finish providing a robust program involving combination of
      multiple therapies.
    </p>
    <p>
      Our approach to your recovery is what makes us UNIQUE. With our advanced
      experience and commitment to personalized care, we are able to deliver the
      most positive and enriching physical therapy experience to ensure ultimate
      results. You don't need to worry about your loved one. They are our
      responsibility!
    </p>
  </div>
</section>
<section id="basic-physiotherapy">
  <div class="basic-physiotherapy-details basic-physiotherapy-common">
    <h1>Basic Physiotherapy</h1>
    <p>
      Physiotherapy is a branch of medicine gaining popularity worldwide. It is
      one of the finest treatment plans one can go for in order to achieve the
      desired results. It helps to restore body movements and functions when
      someone is affected by injury, illness, or disability. Moreover,
      physiotherapy is a healthcare profession that assesses, diagnoses, treats,
      and works to prevent disease, impairment, and disability.
    </p>
    <h5>Physiotherapy has many benefits (some of them are):</h5>
    <ul>
      <li>It helps in decreasing pain.</li>
      <li>It improves strength and Range of Motion.</li>
      <li>It improves Balance and Coordination.</li>
      <li>It helps to maintain proper Posture.</li>
      <li>It helps prevent further injuries.</li>
      <li>It helps to prevent falls in the elderly.</li>
      <li>It helps in maintaining cardiovascular fitness.</li>
      <li>It improves the quality of life of a person.</li>
    </ul>
  </div>
  <div class="basic-physiotherapy-picture basic-physiotherapy-common">
    <img
      src="images/about/about-2.png"
      loading="lazy"
      alt="Basic Physiotherapy Picture"
    />
  </div>
</section>
<section id="advance-physiotherapy">
  <div class="advance-physiotherapy-picture advance-physiotherapy-common">
    <img
      src="images/about/about-3.png"
      loading="lazy"
      alt="Advance Physiotheraphy"
    />
  </div>
  <div class="advance-physiotherapy-details advance-physiotherapy-common">
    <h1>Advance Physiotherapy</h1>
    <p>
      Advance Physiotherapy is not just an effective treatment as basic
      physiotherapy rather it shows more instant results with better outcomes.
      It works on evidence-based practices which shows better treatment plans.
      Not only it includes exercises but also contains some highly advanced
      techniques which have shown to provide excellent results on patients with
      any given condition.
    </p>
    <div class="advance-physiotherapy-other-details">
      When the patient is suffering from a long term painful condition and
      doesn&apos;t find any benefits from any prior treatments can be advised to
      use these advance techniques which not just helps in pain relief but also
      helps to improve the condition by supporting the structures, promoting the
      healing process, and thereby improving the whole quality of life of a
      person.It really does have remarkable and excellent results.
    </div>
    <h5>Some of the Advance Physiotherapy techniques are:</h5>
    <ul>
      <li>Laser Therapy</li>
      <li>Kinesio Taping</li>
      <li>Osteopathy</li>
    </ul>
    <ul>
      <li>Dry Cupping</li>
      <li>Chiro Therapy</li>
      <li>Dry Needling</li>
    </ul>
  </div>
</section>

<section id="people-testimony">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimony">
          <div class="slider-data">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              I have had very severe back pain for the last 2 years, one of my
              friends suggested physiotherapy by Wetakecare and my life
              hasn&apos;t
            </p>
            <hr />
          </div>
          <div class="slider-name">
            <img
              src="images/about/testti-2.png"
              alt="testimony"
              loading="lazy"
            />
            <span>Rahul Dhiman</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimony">
          <div class="slider-data">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              Few days back I injured my muscles while working out. I
              immediately took help from the best physiotherapy clinics in Delhi
              and I must say I am in love with their service.
            </p>
            <hr />
          </div>
          <div class="slider-name">
            <img
              src="images/about/testti-1.png"
              alt="testimony"
              loading="lazy"
            />
            <span>Preeti Goel</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimony">
          <div class="slider-data">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              I am 66 years old and had a lot of problems moving my arms. I then
              took physiotherapy treatment from wetakecare and now 70-80% of my
              pain has been relieved.
            </p>
            <hr />
          </div>
          <div class="slider-name">
            <img
              src="images/about/testti-3.png"
              alt="testimony"
              loading="lazy"
            />
            <span>Deepak Gill</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimony">
          <div class="slider-data">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              Few days back I injured my muscles while working out. I
              immediately took help from the best physiotherapy clinics in Delhi
              and I must say I am in love with their service.
            </p>
            <hr />
          </div>
          <div class="slider-name">
            <img
              src="images/about/testti-1.png"
              alt="testimony"
              loading="lazy"
            />
            <span>Preeti Goel</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>

<section id="frequently-asked-section">
  <div class="faq-answers">
    <h2>FREQUENTLY ASKED QUESTIONS</h2>
    <p>
      <b
        ><span>Q.</span> Is A Physiotherapist For At-Home Service Available In
        My Area?</b
      >
    </p>
    <p>
      <span>Ans.</span> Presently we provide services in Delhi and nearby cities
      like Gurugram, Noida, Greater Noida, Faridabad, Ghaziabad, etc. Very soon
      we will start serving other cities. For updated locations kindly visit the
      locations section on our website.
    </p>
    <p>
      <b><span>Q.</span> Is Physiotherapy The Same As Massage?</b>
    </p>
    <p>
      <span>Ans.</span> No. Physiotherapy follows a scientific approach to
      solving health issues. While the treatment might involve a few
      massage-like techniques e.g. Myofascial Release Tech, these are
      anatomically inclined. It involves various basic and advance techniques of
      treatment and isn&apos;t a massage in any manner.
    </p>
    <p>
      <b><span>Q.</span> Which Physiotherapy Technique Is Suitable For Me?</b>
    </p>
    <p>
      <span>Ans.</span> As with any course of treatment, the type of
      physiotherapy depends on the patient&apos;s health condition. If the
      patient is suffering from unbearable pain, our physiotherapist may start
      with hot fomentation, cold compress, USG therapy, and/or electrical
      stimulation. If the patient can exercise without causing pain/discomfort,
      then manual manipulation is prescribed.
    </p>
    <p>
      <b><span>Q.</span> Is Physiotherapy Painful?</b>
    </p>
    <p>
      <span>Ans.</span> Physiotherapy shouldn&apos;t hurt and is completely
      safe. Physiotherapy often activates deep tissue, and there may be some
      soreness after a treatment session. Stretching and deep tissue work often
      cause temporary soreness. It&apos;s important to note that sometimes
      getting better requires some hard work.
    </p>
    <p>
      <b
        ><span>Q.</span> Can I Immediately Get Relief From Pain By Taking
        Physiotherapy Sessions?</b
      >
    </p>
    <p>
      <span>Ans.</span> It&apos;s understandable that if we are in pain, we want
      to be cured right away. Many people seek out remedies that offer quick
      relief, and many people turn to medications that promise to eliminate your
      pain. These cures merely mask the pain and often force us into a
      continuous cycle of pain and drug use. Physiotherapy goes to the core
      underlying cause of your pain. Physiotherapy seeks a long-term solution to
      reducing pain naturally and permanently. However, in some cases, a
      physiotherapist can offer immediate relief from pain. In fact now with
      Advance Physiotherapy techniques, one can get relief in 1/3rd of the time
      taken by basic physiotherapy.
    </p>
  </div>
</section>
<%- include("../apointment") -%> <%-include("../footer") -%>
<script src="animation.js"></script>
