<section id="book-appointment">
  <div class="appointment-channel">
    <h2>Get Well & bring back family's Happiness</h2>
    <button
      type="appointment-button"
      data-aos="fade"
      data-aos-anchor-placement="bottom-bottom"
      onclick="window.location.href='#form-1'"
    >
      Book Appointment
    </button>
    <button
      type="donate-button"
      data-aos="fade"
      data-aos-anchor-placement="bottom-bottom"
      onclick="window.location.href='https://rzp.io/i/Vj5ZqRrb7'"
    >
      Donate Please
    </button>
  </div>
</section>
