<footer id="footer">
  <div class="address">
    <div class="adress-information">
      <h4><b>WTC Today Pvt Ltd</b></h4>
      <a href=""><i class="fa-solid fa-envelope"></i> office@wetakecare.in</a>
      <p><i class="fa-solid fa-location-dot"></i> Noida, India</p>
    </div>
    <div class="contact">
      <span>Get In Touch</span>
      <h2>88 60 90 1999</h2>
    </div>
    <div class="copyright">
      <p>© Copyright 2020 by We Take Care</p>
    </div>
  </div>
</footer>
<script src="animation.js" type="module"></script>
<script type="module" src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="index.js" type="module"></script>
</body>

</html>