<form method="POST" id="form-1" name="form-1" onsubmit="return validateFunction()">
  <label for="name">Name <span>*</span></label>
  <input type="text" id="name" name="name" required autocomplete="on" spellcheck="false" />
  <label for="gender">Gender <span>*</span></label>
  <select name="gender" id="gender" required>
    <option value="Select" selected>Select</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <label for="service">Service Required <span>*</span></label required>
  <select name="service" id="service" required>
    <option value="Select" selected>Select</option>
    <option value="physiotherapy">Physiotherapy</option>
    <option value="advance-physiotherapy">Advance Physiotherapy</option>
    <option value="Nursing">Nursing</option>
    <option value="attendant">Attendant</option>
    <option value="doctor-visit">Doctor Visit</option>
    <option value="ICU-setup">ICU Setup</option>
    <option value="others">Others</option>
  </select>
  <label for="mobile">Mobile Number <span>*</span></label>
  <input type="number" id="mobile" name="mobile" required />
  <label for="state">Choose State <span>*</span></label>
  <select name="state" id="state" required>
    <!-- option from input-data.js file -->
  </select>
  <label for="city">Choose City <span>*</span></label>
  <select name="city" id="city" required>
    <!-- options from input-data.js file  -->
  </select>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="on" />
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
<script>
  function validateFunction() {
    if (document.forms["form-1"]["name"].value.length < 3) {
      alert("Name must be >=3")
      return false;
    }

    else if (/^\d+$/.test(document.forms["form-1"]["name"].value)) {
      alert("Name can not be a Number");
      return false;
    }

    else if (document.forms["form-1"]["gender"].value === "Select") {
      alert("Choose Gender");
      return false;
    }

    else if (document.forms["form-1"]["service"].value === "Select") {
      alert("Choose Service Required");
      return false;
    }

    else if (document.forms["form-1"]["mobile"].value.length < 10 || document.forms["form-1"]["mobile"].value.length > 10) {
      alert("kindly give us a correct Phone Number");
      return false;
    }

    else if (document.forms["form-1"]["state"].value === "Select") {
      alert("Kindly choose correct State");
      return false;
    }
  }
</script>
<script src="form-input-data.js"></script>