<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/formDecline.css" />
<section id="error">
  <div class="error-message">
    <h2>
      We Appolizise, <br />
      Your form is not submitted due to some error
    </h2>
    <a href="/covid">Covid Form</a>
    <a href="/#form-1">Appointment Form</a>
  </div>
</section>
<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
