<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Chiro Therapy</h1>
    <img
      src="images/techniquesData/chiro.jpg"
      loading="lazy"
      alt="Chiro Therapy"
    />
    <p>
      Chiropractic therapy focuses on the relationship between the body&apos;s
      structure, mainly the spine and the body&apos;s functions. Chiropractors
      use hands-on spinal manipulation and other alternative methods for the
      treatment of patients.
    </p>
    <p>
      While the main focus of Chiropractic therapy is Spinal Manipulation, it
      also includes other treatments like Manual or Manipulative Therapies,
      Postural and Exercise Education, and Ergonomic Training (How to walk, sit,
      and stand to limit the back strain). Chiropractors can treat pain anywhere
      in the body: in the Head and Jaws, the Shoulders, the Elbows and wrists,
      the Hips and Pelvis, and the knees and Ankles. (including all small
      joints)
    </p>
    <p>
      The goals of chiropractic care include the restoration of function and
      prevention of injury in addition to pain relief.
    </p>
    <p>
      Chiropractors diagnose and treat various spinal disorders that cause
      musculoskeletal or nerve pain.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/techniquesData/chirotherapy-1.jpg"
        loading="lazy"
        alt="Chiro Therapy"
      />
    </div>
    <div class="information-1">
      <h5>
        The problems that are evaluated and treated with chiropractic care are:
      </h5>
      <ul>
        <li>Back Sprains and Strains</li>
        <li>Cervicogenic Headaches</li>
        <li>Coccydynia</li>
        <li>Herniated Disc</li>
        <li>Myofascial pain</li>
        <li>Sciatica</li>
        <li>Sciatica Spondylosis or Spinal Osteoarthritis</li>
        <li>Subluxation and Dislocation</li>
        <li>Sports Injuries</li>
        <li>Fibromyalgia</li>
        <li>Plantar Fasciitis</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      This therapy is primarily used as a pain relief alternative for muscles,
      joints, bones, and connective tissue such as cartilages, ligaments, and
      tendons. It is sometimes used in conjunction with conventional medical
      treatment. The theory is that proper alignment of the body&apos;s
      musculoskeletal structure, particularly the spine, enables the body to
      heal itself without surgery or medication. Manipulation is used to restore
      mobility of joints restricted by tissue injury caused by a traumatic
      event, such as falling, or repetitive stress, such as sitting without
      proper back support, etc.
    </p>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How is a Chiropractor different from a Physiotherapist?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Physiotherapists and chiropractors both work with patients who are
          experiencing pain or having difficultly while performing different
          physical tasks. The only difference between the two is their treatment
          methods. Chiropractors mostly rely on aligning parts of the body
          (adjustments) with a main focus on the spine, while physiotherapists
          use exercise programs and assistive devices to improve patient&apos;s
          mobility or reduce pain levels.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          What kind of treatments do chiropractors use?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Common treatments our chiropractors recommend include therapeutic
          exercise and stretching, spinal traction, manual soft tissue therapy,
          transcutaneous electric nerve stimulation (TENS), ultrasound, diet ,
          and nutritional counseling, and lifestyle modification.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          What should you not do after seeing a chiropractor?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          After your adjustment, you don&apos;t want your body to immediately
          revert to the same position it was in. Avoid sitting for long periods
          after seeing the chiropractor, if possible, and enjoy the mobility
          that your adjustment has created by going for a long walk, or take a
          bike ride, etc.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How many sessions should I have with a chiropractor?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Generally, most conditions can be treated within 4 to 12 sessions. In
          some cases, a chiropractor may suggest having regular maintenance
          therapy once the initial problem has improved. This is recommended to
          prevent experiencing the same ailments again.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Do doctors recommend chiropractors?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Some doctors also suggest trying chiropractic care. The good news is
          that no matter what treatment is recommended, most people with a
          recent onset of back pain are better within a few weeks, often within
          a few days.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What are 3 methods chiropractors use when treating back pain?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          There are a variety of ways to bring relief to muscles when they are
          the source of pain, such as manual release therapy (stretching the
          muscle while applying pressure), trigger point therapy (applying
          direct pressure on the area of the muscle that is most tense), or
          instrument-assisted soft tissue therapy
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
