<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Dry Cupping Therapy</h1>
    <img
      src="images/techniquesData/Cupping.jpg"
      loading="lazy"
      alt="Dry Cupping Therapy"
    />
    <p>
        It is one of the oldest and most effective methods of releasing toxins from body tissue and organs. Cupping therapy is considered most effective in recent times and we use it in our treatments at “We Take Care”. It is also known as vacuum cupping, horn treatment, etc. It is a practice in which the therapist puts special cups on the skin to create suction. This causes the tissue beneath the cup to be drawn up and swell causing an increase in blood flow to the affected area. Enhanced blood flow under the cups draws impurities and toxins away from the nearby tissues and organs towards the surface for elimination.
    </p>
    <p>
        Cupping also gives a relaxing effect. It sedates the nervous system and often a deep state of relaxation is produced. Its therapeutic effect is also beneficial to those with high blood pressure, anxiety, and fatigue. Cupping benefits are vast and range from a decrease in pain, activation of the lymphatic system, promotion of blood circulation, relaxation, and deep tissue repair. There are various kinds of cupping therapy and various kinds of cups which are used to treat patients. Cupping therapy is advised for both healthy patients (anti-aging treatment, rejuvenation purpose, etc.) and those suffering from ailments.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/techniquesData/cupping-1.jpg"
        loading="lazy"
        alt="Dry Cupping Therapy"
      />
    </div>
    <div class="information-1">
      <h5>Localized ailments that benefit from cupping therapy include:</h5>
      <ul>
        <li>Headache</li>
        <li>lower back pain</li>
        <li>Shoulder pain</li>
        <li>Knee Pain</li>
        <li>Neck Pain</li>
      </ul>
      <h5>Systemic illnesses that have seen benefits with cupping therapy include:</h5>
      <ul>
        <li>Hypertension</li>
        <li>Rheumatoid arthritis</li>
        <li>Diabetes mellitus</li>
        <li>Heart disease</li>
        <li>Infections</li>
      </ul>
      <p>
        Cupping is also used to treat skin diseases, respiratory, musculoskeletal, digestive, and allergic conditions as well.
    </p>
    </div>
  </div>
  <div class="information-3">
    <h5>Some minor side effects of Cupping Therapy may be:</h5>
    <ul>
        <li>Temporary Skin Discoloration</li>
        <li>Scarring</li>
        <li>Chances of Infection</li>
        <li>Not suitable for patients with Eczema and Psoriasis skin problems</li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
        What should you not do after cupping?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            For 4-6 hours post cupping, avoid exposure to:
            <ul>
                <li>Caffeine, alcohol, sugary foods and drinks, dairy, and processed meats. These foods slow down one&apos;s body&apos;s ability to take full benefit of the treatment.</li>
                <li> Hot showers, saunas, hot tubs, and strong air conditioning.</li>
                <li>Intense exercise.</li>
                <li>Cold and windy conditions.</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
        Who should avoid cupping therapy?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            Things to keep in mind
            <ul>
                <li><b>Children:</b>Children under 4 years old shouldn&apos;t receive cupping therapy. Older children should only be treated for very short periods.</li>
                <li><b>Senior Citizens:</b>Their skin becomes more fragile as they age.</li>
                <li><b>Pregnant Women:</b>They should avoid cupping at their abdomen and lower back area.</li>
                <li>Those who are currently menstruating should avoid cupping.</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
        Does cupping remove toxins?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            Cupping invigorates local circulation of blood in the area being treated, resolving swelling, pain, and tension. By drawing impurities to the surface, it removes toxins. From a western physiology perspective, cupping loosens connective tissue or fascia and stimulated blood flow to the surface.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
        Is cupping better than a massage?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            Cupping is one way to experience deep tissue massage more comfortably with greater benefits to the deeper layers. It unwinds the fascia, giving you more flexibility and less pain <code>&#8212;</code> which is the ultimate goal.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
        Where should you not use cupping?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
            Cupping should never be done over skin that is fragile, broken, sunburned, or edematous (swollen). Areas with major arteries are a major NO.
        </div>
      </div>
    </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
