<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Laser Therapy</h1>
    <img
      src="images/techniquesData/laser-therapy.jpg"
      loading="lazy"
      alt="Laser Therapy"
    />
    <p>
      The term LASER is an acronym for the Light Amplification by Stimulated
      Emission of Radiation. The laser can be considered to be a form of the
      light amplifier <code>&#8212;</code> it provides enhancement of particular
      properties of light energy. Low-level laser therapy (LLLT) is used by
      physiotherapists to treat various musculoskeletal conditions. It is a
      non-invasive light source treatment that generates a single wavelength of
      light. It emits no heat, sound, or vibration.
    </p>
    <p>
      Laser therapy is one of the fastest, most effective modalities. We augment
      your rehabilitation process by the use of this modality. It works by
      recharging your cells. This energy is then used to assist your cells to
      heal and regenerate faster, thus reducing and/or eliminating your aches
      and pains.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/techniquesData/-1.jpg"
        loading="lazy"
        alt="Laser Therapy"
      />
    </div>
    <div class="information-1">
      <h5>Some of the conditions that are treated by Laser Therapy include:</h5>
      <ul>
        <li>Osteoarthritis of the knee, hip, and ankle</li>
        <li>Rheumatoid arthritis</li>
        <li>Shoulder impingement syndromes</li>
        <li>Hip or shoulder bursitis</li>
        <li>Low back disc degeneration</li>
        <li>Disc herniation</li>
        <li>Sciatica</li>
        <li>Neuropathic pain.</li>
        <li>Tendonitis</li>
        <li>Tennis elbow</li>
        <li>Plantar fasciitis etc.</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      It is also a safe alternative to pain medication and reduces healing time
      substantially than other basic therapy methods. The greatest benefit of
      LLLT to the patient is that they experience immediate relief. Patients
      that undergo laser therapy are likely to heal 50%-60% faster and with
      recovery in their range of motion, strength, and overall better functional
      movement. Although one feels the laser device touching the skin, the
      procedure is painless and non-invasive. One feels no vibration or heat.
      Each laser session takes only a few minutes.
    </p>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/techniquesData/laser-1.jpg"
        loading="lazy"
        alt="Laser Therapy"
      />
    </div>
    <div class="information-2">
      <p>
        Laser Therapy is quite effective in the reduction and elimination of
        many painful conditions. Unlike surgical lasers, cold lasers do not heat
        up the body&apos;s tissues. It is easily applied to patients and has a
        relatively short treatment time, depending on the power output of the
        device, the wavelengths used and the size of the area to be treated. It
        may harm eyes if one looks directly into the laser, so you are asked to
        use protective eyewear. But there are no known, permanent or serious
        side effects from laser therapy treatment.
      </p>
      <h5>Benefits of Laser Therapy:</h5>
      <ul>
        <li>Treatment of various arthritic conditions</li>
        <li>Treatment of soft tissue injuries</li>
        <li>Pain relief</li>
      </ul>
    </div>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Is LILT safe?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          LILT is a safe, painless, and medication-free treatment. Laser therapy
          is a non-medical procedure and is recommended by many physicians as a
          highly effective treatment.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Does laser therapy hurt?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          No. Low-Intensity Laser Therapy is painless. Most people describe the
          treatment as relaxing.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          How often can I take laser therapy?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          A typical course of treatment is 5-10 minutes a day, although it
          depends on the size of the area being treated. Acute conditions may
          require daily treatment, in particular if they are accompanied by
          significant pain. Chronic problems typically respond better when the
          treatments are received 2-3 times per week.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Are there any side effects of laser therapy?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Laser resurfacing can cause side effects like :
          <ul>
            <li>Redness, swelling, and itching.</li>
            <li>Acne</li>
            <li>Infection</li>
            <li>Changes in skin color.</li>
            <li>Turning of the eyelid (ectropion)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Can laser therapy heal bones?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Based on the results of the many articles, low-intensity laser therapy
          can accelerate bone healing in extraction sites, bone fracture
          defects, and distraction osteogenesis, provided proper treatment
          parameters are applied.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Is LILT approved by the FDA?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Treatments of musculoskeletal conditions such as carpal tunnel
          syndrome, tendonitis, etc. have been cleared by the FDA for use. The
          laser that is used is approved as a “non-significant risk device” by
          the FDA
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
