<%- include("../../header.ejs") -%>
  <link rel="stylesheet" href="css/general.css" />

  <section id="general-information">
    <div class="main-information">
      <h1>Osteopathy</h1>
      <img src="images/techniquesData/oestiopathy.jpg" loading="lazy" alt="Osteopathy" />
      <p>
        Osteopathy is a way of detecting, treating, and preventing health problems
        by moving, stretching, and massaging a person&apos;s muscles and joints. By
        positively affecting and balancing the nervous system, which is in close
        relationship with all of the other systems of the body, manual osteopathy
        is very helpful in the resolution of many health conditions.
      </p>
      <h5>
        Osteopaths use physical manipulation, stretching, and massage with the aim
        of:
      </h5>
      <ul>
        <li>Increasing the mobility of joints</li>
        <li>Relieving muscle tension</li>
        <li>Enhancing the blood supply to tissues</li>
        <li>Helping the body to heal</li>
        <li>They use a range of techniques, but not drugs or surgery.</li>
      </ul>
    </div>
    <div class="information-with-points-1">
      <div class="information-1-image">
        <img src="images/techniquesData/osteopathy-1.jpg" loading="lazy" alt="Osteopathy" />
      </div>
      <div class="information-1">
        <h5>How does our Osteopath work?</h5>
        <ul>
          <li>The osteopath thoroughly examines the patient.</li>
          <li>
            Then the doctor assesses the health of muscles, joints, and ligaments,
            and makes a treatment plan to relieve the patient.
          </li>
          <li>
            This will include the number of sessions likely to be needed, this
            number of sessions may change according to the response of the patient
            to the treatment.
          </li>
          <li>
            The manipulation and handwork are gentle, but a patient might feel
            some soreness for the first 24-48 hours.
          </li>
          <li>
            Osteopathic treatment positively impacts the circulatory, nervous, and
            lymphatic system, to improve body function and overall health.
          </li>
          <li>No side effects.</li>
        </ul>
      </div>

    </div>
    <div class="information-3">
      <p>
        Our goal is to restore mobility and improve the health of our patients.
        We undertake a variety of tests and assessments to understand the root
        cause of the problems. Then we use a variety of treatments as holistic
        approaches.
      </p>
      <h5>
        Most conditions that affect the muscles, bones, and joints, such as:
      </h5>
      <ul>
        <li>Lower back pain</li>
        <li>
          Uncomplicated neck pain (as opposed to neck pain after an injury such
          as whiplash)
        </li>
        <li>
          Shoulder pain and elbow pain (e.g. tennis elbow, Bicipital tendinitis)
        </li>
        <li>Arthritis</li>
        <li>Radiculopathies/nerve pains</li>
        <li>Jaw pain and clicking</li>
      </ul>
      <p>
        Osteopathy techniques and manual therapy improves health, manage
        injuries, and facilitate fast recovery.
      </p>
    </div>
    </div>
  </section>
  <section id="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Is there is any side effect of Osteopathy treatment?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            No, Osteopathy is generally regarded as a safe treatment, although the
            patient may experience side effects such as mild to moderate soreness
            or pain in the treatment area.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What does osteopathy treatment involve?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Osteopathy is a way of detecting, treating, and preventing health
            problems by moving, stretching, and massaging a person&apos;s muscles and
            joints. Osteopathy is based on the principle that the wellbeing of an
            individual depends on their bones, muscles, ligaments, and connective
            tissue functioning smoothly together.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How many osteopathy sessions do I need?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Most patients need 3 to 5 treatment sessions to re-establish normal
            mobility in their body (although symptom reduction happens more
            quickly) and some complex cases may need more sessions.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            What should I do after osteopathy treatment?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Following factors help in faster recovery :
            <ul>
              <li>Try to rest, especially after treatment.</li>
              <li>Ice the affected areas to reduce localized inflammation.</li>
              <li>
                Reduce stress in 90% of my cases, emotional stress and strain, if
                not the primary cause of a patient&apos;s symptoms, will make them
                worse.
              </li>
              <li>Do the exercises.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
            Is it normal to feel pain after osteopathy?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Osteopathy isn&apos;t usually painful, although it&apos;s not unusual to feel
            sore or stiff in the first few days after treatment, particularly if
            you&apos;re having treatment for a painful or inflamed injury.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
            Is osteopathy better than physiotherapy?
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Most osteopaths treat peripheral joints related issues e.g. the
            shoulder, wrist/hand, knee, and ankle/foot. However, physiotherapists
            treat fewer muscle and tendon-related injuries as well. Both are
            equally important.
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>