<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Back Pain</h1>
    <img
      src="images/ailmentsData/back-pain.jpg"
      loading="lazy"
      alt="Back Pain"
    />
    <p>
      Nowadays, where working hours are more than resting hours and the stress
      is taking over. People are complaining of back pains whether a child
      studying in school or an individual working for hours in office/home, a
      housewife working in a kitchen or an elderly. Back pain complaints are
      getting more common day by day due to the load we are giving to our body
      and spine.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1">
      <h5>Back Pains can be due to many reasons, some of them includes:</h5>
      <ul>
        <li>
          Poor Posture (Commonest)- due to prolonged sitting or having bad
          posture
        </li>
        <li>Falls</li>
        <li>Ageing</li>
        <li>Trauma</li>
        <li>Muscle weakness</li>
        <li>Previous history of Injury or any other related medical problem</li>
        <li>Lifting Heavy Objects</li>
        <li>Poor sleeping Mattress</li>
        <li>Infections etc</li>
      </ul>
    </div>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ailmentsData/back-pain-1.jpg"
        alt="Back Pain"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>
        Some of the Various treatments that physiotherapy offers includes:
      </h5>
      <ul>
        <li>
          Modalities and proper Exercise plans in order to reduce pain and work
          on the muscles and other tissues around and make them healthier and
          stronger to perform activities.
        </li>
        <li>
          Mobilizations play an essential role in reducing pain as well as in
          increasing the movement.
        </li>
        <li>
          Educating about proper positioning of the body while sitting or lying
          also has a key role in managing back problems.
        </li>
        <li>
          Taping, cupping, and Dry needling as an advanced Physiotherapy options
          have shown to produce great benefits to the patients.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      The spine is the backbone of our body. It not only helps us in sitting or
      standing but plays a major role in every movement we do, like twisting,
      turning, rolling, lying on the bed, sitting for long, playing, and
      whatnot. It bears every possible load and helps us to stay upright and
      perform our work properly.
    </p>
    <p>
      While Just sitting on a chair for hours and doing work, our spine is still
      bearing a great amount of pressure and load. Therefore it is very
      important to take care of our back in every possible way we can.
    </p>
    <p>
      Here, Physiotherapy plays a major role in taking care of your back and
      getting the patient back to their normal activity.
    </p>
    <p>
      Physiotherapy doesn&apos;t offer just short term management rather it has
      long term effects and goals and manages the patients issues better than
      any medicine would.
    </p>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How physiotherapy treats back pain?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          A physiotherapy professional helps to improve the movement and
          function of the joints and muscles. If one has back pain, they help to
          reduce it and get one back to normal mobility. They also advise making
          changes that reduce the chances of hurting the back again.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Why does my back hurt after the physio session?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Reasons that one might experience pain after a physio session is
          usually due to the muscles reacting to the work that has been done on
          them and should not be confused with an increase in the actual
          symptom.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Can Physiotherapy increase back pain?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Research has shown, that exercise is the best thing, although many
          people with back pain are fearful of making it worse. Physiotherapy
          rather brings a lot of relief to patients with back pain.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How can I reduce my back pain?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Some daily habits to stop back pain are below.
          <ul>
            <li>Sleep with a pillow under your knees.</li>
            <li>Increase your calcium and vitamin D intake.</li>
            <li>Work your core.</li>
            <li>Straighten up.</li>
            <li>Change your shoes.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Are there any self-remedies to reduce back pain?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Some commonly known remedies are :
          <ul>
            <li>
              Limit Bed Rest. Studies show that people with short-term low-back
              pain who rest feel more pain and have a harder time with daily
              tasks than those who stay active.
            </li>
            <li>Maintain Good Posture.</li>
            <li>Strengthen Your Core.</li>
            <li>Improve Flexibility.</li>
            <li>Ditch the Brace.</li>
            <li>Apply Ice/Heat.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How can I avoid back pain?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Prevention is the best strategy for coping with back pain and can save
          a great deal of time and agony. Become an educated health care
          consumer by learning about effective prevention methods as mentioned
          below :
          <ul>
            <li>Sleep on a firm mattress.</li>
            <li>Stretch before and after strenuous activity.</li>
            <li>When sitting for long periods, take frequent breaks.</li>
            <li>Avoid smoking, which accelerates degeneration in the spine.</li>
            <li>
              Don&apos;t try to lift objects that are too heavy for you. When
              lifting, use the strength in your legs more than the back.
            </li>
            <li>
              Maintain a healthy weight and try to avoid weight gain, especially
              around the mid-section, which can take a toll on the low back.
            </li>
            <li>
              Use good posture at all times, and do not slouch. When standing,
              keep your weight balanced on both feet rather than shifting it
              back and forth.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
