<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Hip Pain</h1>
    <img src="images/ailmentsData/hip-pain.jpg" loading="lazy" alt="Hip Pain" />
    <p>
      Hip pains can be caused by a wide variety of problems whether it is due to
      trauma/ injury or may be due to any pathological condition. Hip functions
      in both the weight bearing activities like standing, walking, running as
      well as in non-weight bearing activities like turning on bed etc.
    </p>
    <p>
      Symptoms of hip pains are dependent on the condition that&apos;s causing
      it, one might feel the discomfort in one&apos;s Thigh, Inside of the hip
      joint, Groin, Outside of the hip joint, Buttocks. Sometimes pain from
      other areas of the body, such as the back or groin (from a hernia), can
      radiate to the hip.
    </p>
    <p>
      Sometimes the pain gets worse with activity, especially if it&apos;s due
      to arthritis. Along with the pain, one might have reduced hip movement.
      Some people may even develop a limp from persistent hip pain.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1">
      <h5>Hip pain can be caused by various conditions like:</h5>
      <ul>
        <li>Prolong lying on one side with awkward posture.</li>
        <li>Direct injury to the joint.</li>
        <li>Degenerative changes (Osteoarthritis of hip joint)</li>
        <li>Hip Fracture</li>
        <li>Bursitis</li>
        <li>Hip Dislocations</li>
        <li>Impingement</li>
        <li>Muscular imbalances etc.</li>
      </ul>
      <h5>
        Physiotherapy helps in overcoming the hip main by means of various
        techniques:
      </h5>
      <ul>
        <li>
          Exercise therapy including active / active assisted exercises for the
          hip joint, along with Strengthening and Flexibility exercises which
          helps in maintaining proper movement of the joint and reducing the
          stiffness.
        </li>
        <li>
          Postural stability, Balance and Gait training exercises are taught to
          the patients.
        </li>
        <li>
          Patient Education regarding balancing the activity and rest period in
          order to decrease stress over the joint is necessary.
        </li>
        <li>
          Joint Mobilization techniques and Stretching techniques are done
          manually to reduce pain as well as helps in giving better functional
          results.
        </li>
        <li>
          Advance physiotherapy techniques like Tapping, Chiro-therapy , Dry
          needling gives major benefits to the patients with better outcomes.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ailmentsData/Hip-Pain-1.jpg"
        alt="Hip Pain"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <p>
        Physiotherapy not only works on Pain Relief but also satisfies their
        patients in every aspect and helps in improving the overall Quality of
        life of a person.
      </p>
      <p>
        It should be Chosen over the Medicines and Surgeries, as it gives way
        far better results without leaving any side effects.
      </p>
      <p>
        “We Take Care of you by helping you get back on Track i.e. Pain-free,
        Healthy and Independent”
      </p>
    </div>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Is physiotherapy good for hip pain?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          One major benefits of physical therapy to help control the symptoms
          and improve overall functional mobility. Your physical therapy program
          should focus on decreasing or eliminating your pain, improving your
          hip range of motion and strength, and restoring normal functional
          mobility.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Should I keep walking with hip pain?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Running and jumping can make hip pain from arthritis and bursitis
          worse, so it&apos;s best to avoid them. Walking is a better choice and
          consult a physio for the same.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          What are the home remedies for hip pain?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Simple way to relieve hip pain is by holding ice to the area for about
          15 minutes a few times a day. Try to rest the affected joint as much
          as possible until you feel better. You may also try heating the area.
          A warm bath or shower can help ready your muscle for stretching
          exercises that can reduce pain.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How Should I Sleep With Hip Pain?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          In supine line position please keep both the knee in slightly or
          30-degree flexion (place a pillow under both the knees). This is the
          most comfortable position in any type of hip pain or lies on the
          unaffected leg in the side-lying position.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Why is my hip pain worse in bed?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If you regularly wake up at night from hip pain, the way you&apos;re
          sleeping or your mattress could be to blame. A mattress that&apos;s
          too soft or too hard could trigger pressure points, which may lead to
          a sore hip. Sleep posture can also cause pain.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What exercises are recommended for those with hip injuries?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Strengthening of the muscles around the hip joint & increasing
          flexibility are the two ways to reduce hip pain. Commonly known
          strengthening exercise are:
          <ul>
            <li>
              <b>Gluteal Tuck:</b> Lie flat on the floor, with your knees drawn
              and your feet firmly down. Squeeze your buttocks and hold for 10
              seconds. Slowly release the buttocks. Repeat 30 times a day.
            </li>
            <li>
              <b> Bridge:</b> Lie flat on your back on the floor, with your
              knees drawn and your feet firmly planted down. Increase the
              distance between both the legs until they are about half an
              arm&apos;s length away. Putting your weight on your shoulders,
              slowly raise your buttock off the ground, using your gluteal
              muscle, quadriceps, and abdominal muscles. Hold for 5 seconds,
              followed by slowly lowering it to the ground.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
