<%- include("../../header.ejs") -%>
  <link rel="stylesheet" href="css/general.css" />

  <section id="general-information">
    <div class="main-information">
      <h1>Joint Pain</h1>
      <img src="images/ailmentsData/Joint-Pain.jpg" loading="lazy" alt="Joint Pain" />
      <p>
        Small joints of hands and feet play a great role in doing fine movements and carry a great amount of input in
        our lives. If it gets affected due to any reason it may cause inability to perform various tasks and functions.
        Joints can be painful or inflamed along with swelling, redness and warmth as a sign of problem. When multiple
        joints are involved it is known as Polyarthralgia.
      </p>
      <p>
        Small joints Pain can be due to various causes:
      <ul>
        <li>Inflammatory disease (Eg. Infection or any systemic inflammatory disease such as Rheumatoid arthritis and
          Psoriatic arthritis)</li>
        <li>Mechanical and Non-Inflammatory disease (like Osteoarthritis)</li>
      </ul>
      </p>
    </div>
    <div class="information-with-points-1">
      <div class="information-1">
        <h5>Rheumatoid Arthritis (RA)</h5>
        <p>It is an Auto-Immune Disease where one&apos;s own immune system mistakenly attacks on their own cells and
          leads to joint pains and causes damage throughout the body. It is usually Symmetrical that is it occurs on
          both sides of the body. It causes Pain, Swelling and Stiffness in the joints. And knowing such early signs
          helps the patient and the therapist to treat and manage the problem in the beginning itself.</p>
        <p>If someone doesn&apos;t take Physiotherapy treatment for RA, he may develop severe deformities in hands and
          feet. Deformities of the hands and fingers may cause a curved, claw-like appearance. Lumps, called rheumatoid
          nodules, can appear anywhere on your body where joints are inflamed/infected. Their size can be from very
          small to the size of a walnut or larger, and they can occur in clusters. Though symptoms may stop for extended
          periods, joint problems caused by RA usually get worse over time. That&apos;s why early treatment is so
          important to help delay serious joint damage.</p>
        <p>Whereas in Osteoarthritis which is not an Auto-immune disease, Symptoms are usually Asymmetrical (ie. on one
          side of the body.) And is most often seen in older adults. However, it can sometimes be seen in younger adults
          who overuse a particular joint — such as tennis players and other athletes — or those who&apos;ve experienced
          a severe injury.</p>
      </div>
    </div>
    <div class="information-with-point-2">
      <div class="information-2-image">
        <img src="images/ailmentsData/Painful-Knee-Close-up.png" alt="Joint Pain" loading="lazy" />
      </div>
      <div class="information-2">
        <h5>
          Factors that may trigger onset of RA involve:
        </h5>
        <ul>
          <li>
            Exposure to certain types of bacteria.
          </li>
          <li>
            Having a history of viral infections.
          </li>
          <li>
            Trauma or injury, such as bone breakage or fracture, dislocation of a joint, and ligament damage.
          </li>
          <li>
            Smoking cigarettes
          </li>
          <li>Obesity</li>
        </ul>
        <p>Various Blood tests are done prior to rule out the exact cause of the problem. Here, medicines along with
          Physiotherapy helps patients manage their problems and cope up well with them without much pain and with more
          ability to do daily activities.</p>
      </div>
    </div>
    <div class="information-3">
      <p>
        RA has no such permanent cure but Physiotherapy undoubtedly gives hope to the patients and helps them manage it
        (that medicines can&apos;t do alone) .
      </p>
      <h5>Physiotherapy for such conditions includes:</h5>
      <ul>
        <li>Modalities and Hot fermentations in order to reduce pain and bring back the lost movements, reducing
          swelling and promoting healing.</li>
        <li>Various Passive and Active exercises are done which not only helps with pain and movement but also gives
          long term effects and ability to do any work without any issues.</li>
        <li>Low- Impact exercises to improve the movement and increase the mobility of joints. This also helps in
          strengthening muscles thus reducing pressure over the joints.</li>
        <li>Assistive devices such as Splints, Braces etc. are advised by the therapists in order to maintain joints in
          proper resting positions which will also help in reducing the inflammation.</li>
      </ul>
    </div>
  </section>
  <section id="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What causes joint pains to come and go?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Acute pain in multiple joints is most often due to inflammation, gout, or the beginning or flare-up of a
            chronic joint disorder. Chronic pain in multiple joints is usually due to osteoarthritis or an inflammatory
            disorder (such as rheumatoid arthritis) or, in children, juvenile idiopathic arthritis.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Is physiotherapy good for Rheumatoid Arthritis (RA)?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Physiotherapy treatment is important in helping patients with RA manage their disease. In conjunction with
            occupational therapists, physiotherapists educate patients in joint protection strategies, use of assistive
            devices, and performance of therapeutic exercises.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What are the contraindications of exercise for rheumatoid arthritis?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Relative contraindications to exercise include recent joint replacement, significant joint damage, or
            actively inflamed joints. Such conditions may necessitate avoidance of certain ranges of motion so as not to
            increase pain or cause additional damage
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            How can I prevent my rheumatoid arthritis from getting worse?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Take these steps to improve your odds of avoiding long-term trouble.
            <ul>
              <li>
                Get treated early. Much of the damage that eventually becomes serious starts soon after you learn you
                have RA.
              </li>
              <li> See your doctor often.</li>
              <li>Exercise regularly.</li>
              <li>Rest when you need to.</li>
              <li>
                Use a cane in the hand opposite a painful hip or knee.
              </li>
              <li> If you smoke, quit.</li>
            </ul>
          </div>
        </div>
      </div>
  </section>

  <%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>