<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Knee Pain</h1>
    <img
      src="images/ailmentsData/knee-pain.jpg"
      loading="lazy"
      alt="Knee Pain"
    />
    <p>
      As the knee joint takes up the whole body weight of a person while
      standing, walking, and doing other activities therefore it is considered
      to be one of the most common joints to be affected. Knee pains can occur
      due to various reasons and Physiotherapy plays a major role in treating
      every kind of knee pain.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1">
      <h5>There can be many reasons which cause knee pain such as:</h5>
      <ul>
        <li>Aging (commonest)</li>
        <li>Direct blow to the knee</li>
        <li>Sudden jerk</li>
        <li>Overuse ie, prolong standing jobs</li>
        <li>Muscular imbalance (due to muscle weakness/ tightness)</li>
        <li>Presence of taut bands in the muscles</li>
        <li>Twisting Injury</li>
      </ul>
      <h5>Various conditions that can cause knee pain are:</h5>
      <ul>
        <li>Osteoarthritis</li>
        <li>ACL injury</li>
        <li>Meniscal injury</li>
        <li>Muscular strain</li>
        <li>Chondromalacia</li>
        <li>Runner&apos;s knee etc</li>
      </ul>
    </div>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ailmentsData/knee-pain-1.jpg"
        alt="Knee Pain"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>
        Various Physiotherapy treatments can be done in order to treat patients
        suffering from knee pains such as :
      </h5>
      <ul>
        <li>
          Using Modalities like Ultrasound, TENS, etc in order to reduce pain
          and promote healing
        </li>
        <li>
          Various Exercises like Isometrics, strengthening, Balancing, Gait
          Training not only helps in reducing pain but rather also helps
          patients to return to their normal activities sooner with better
          muscle strengths and reduce the chances of further injuries.
        </li>
        <li>
          Using Manual work like Mobilizations, tractions, Muscle Energy
          Techniques, Taping, Cupping, etc helps patients recover fast. These
          techniques are done by the Therapists themselves with proper care and
          knowledge.
        </li>
        <li>
          Both the Basic and Advance techniques can be applied in order to treat
          patients with knee pain after proper assessment by the therapist.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      Physiotherapy not only works on the pain rather it helps in finding out
      the exact cause of the pain and helps in treating the patient as a whole.
      In physiotherapy, there are many treatment options that are available to
      treat patients with the very best techniques and plans.
    </p>
    <p>
      Undoubtedly Physiotherapy Treatment shows amazing results and one should
      rather go for these nonsurgical treatments which are harmless and friendly
      and give better results than taking the painkillers (which later causes
      many problems to the person )and planning for surgeries.
    </p>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What kind of injuries can commonly cause knee pain?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          These are usually twisting injuries to the knee like ACL, MCL, LCL
          ligament injuries or meniscus tear, or arthritic changes.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          What's the difference between Arthritis and Knee Pain?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The main difference between arthritis and other kinds of knee pain is
          that there&apos;s no trauma associated with it. A person who tore
          their ACL or had a meniscus injury knows exactly when it happened.
          With arthritis, it&apos;s more of dull, aching pain. It gets worse as
          time goes on.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          When do I need to see a Physiotherapist for knee pain?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Everyone has a different pain threshold. If you have got an injury and
          your knee swells, you need to see a Physiotherapist immediately. Even
          if the swelling goes away, one needs to have the knee examined. One
          might have injured something inside the joint. If one has arthritis
          pain and the bad days outnumber the good, one should see a
          Physiotherapist.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How do you know when my knee pain is serious?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Call our Physio/Doctor if you:
          <ul>
            <li>
              Can&apos;t bear weight on your knee or feel as if your knee is
              unstable (gives out)
            </li>
            <li>Have marked knee swelling.</li>
            <li>Are unable to fully extend or flex your knee.</li>
            <li>See an obvious deformity in your leg or knee.</li>
            <li>
              Have a fever, in addition to redness, pain, and swelling in your
              knee.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Why do my knees hurt and give out?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The possible causes include damage to one of the knee ligaments, a
          meniscus tear, arthritis, patellar instability, or even nerve damage.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          When should I call a Physio about knee pain from arthritis?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If your knee pain doesn&apos;t get better or if you have swelling that
          doesn&apos;t go away, talk to your Physio. There are effective
          treatments for knee arthritis (also called osteoarthritis).
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
