<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Shoulder Pain</h1>
    <img
      src="images/ailmentsData/shoulder-pain.jpg"
      loading="lazy"
      alt="Shoulder Pain"
    />
    <p>
      AShoulder is the most commonly used joint in our daily activities. Whether
      to put a glass on table, open a door, drive a car every small activity
      requires the shoulder movement to occur properly and in all directions in
      order to carry out proper function. Thus, the shoulder joint helps us in
      performing various tasks and functions without any limitations.
    </p>
    <p>
      If it is painful it may lead to difficulties in Sleeping, performing
      various activities, and one may end up being unable to do even a simple
      activity like raising their arm.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1">
      <h5>There can be many reasons which cause the Shoulder pain such as :</h5>
      <ul>
        <li>Aging (Degeneration)</li>
        <li>Fall on an outstretched hand</li>
        <li>Overuse injury</li>
        <li>Abnormal Posture (Protracted Shoulders)</li>
        <li>Muscular imbalance (due to muscle weakness/ tightness)</li>
        <li>Lifting heavy objects</li>
        <li>Incorrect sleeping position</li>
        <li>Direct trauma</li>
      </ul>
    </div>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ailmentsData/shoulder-pain2.jpg"
        alt="Shoulder Pain"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>
        Some of the Various treatments that physiotherapy offers includes:
      </h5>
      <ul>
        <li>
          Modalities such as TENS, Ultrasound, LASER along with proper Exercise
          plans in order to reduce swelling and pain and work on the muscles,
          capsules and other tissues around the shoulder .
        </li>
        <li>
          Mobilizations helps in gaining the full movement of the joint in a
          pain-free manner in order to carry out normal daily activities.
        </li>
        <li>
          Stretching exercises are done to relax the tight structures like
          capsule inside and help gaining full movement with better posture
        </li>
        <li>
          Resistance Training/ Strengthening exercises with the help of weights,
          TheraBand, dumbles are done in order to strengthen the weak muscles
          which are supporting the shoulder and to prevent further injuries.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <ul>
      <li>
        Proper positioning of hand while sitting with the help of pillows and
        proper positioning of shoulder while sleeping are all taught and well
        explained by the therapist.
      </li>
      <li>
        Various ROM exercises are done to increase the restricted range of the
        shoulder
      </li>
      <li>
        Precautions are also explained by the therapist in order to manage the
        condition and to prevent the same or other problem later in life
      </li>
      <li>
        Advance techniques like taping can also help in providing good support
        and relieves pain over the area. Cupping can help remove pain causing
        toxic chemicals and provide relaxation.
      </li>
      <li>
        Since the shoulder problems are increasing day by day , the
        physiotherapy treatments are taking over.
      </li>
      <li>
        Where surgeries and pills fail to meet the needs and demands of
        patients, PHYSIOTHERAPY comes into play considering every single issue
        of a person and managing it with the best therapy options.
      </li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What kind of injuries can commonly cause knee pain?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          These are usually twisting injuries to the knee like ACL, MCL, LCL
          ligament injuries or meniscus tear, or arthritic changes.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Is physiotherapy good for shoulder pain?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Problems in the shoulder can occur with day-to-day wear and tear,
          overuse, or an isolated injury. These pains can be easily treated with
          physiotherapy where an accurate diagnosis is done and the proper
          treatment is given.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Can exercise make shoulder pain worse?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If anyone is suffering from shoulder pain then he/she should strictly
          avoid strenuous exercises. Vigorous exercise can aggravate shoulder
          pain and cause complications. Therefore, a consulting trained and
          qualified professional trainer is essential. Our skilled
          physiotherapist prescribes the most suitable exercises as per the
          severity of an injury. The patient should not do exercises on his/her
          own without consulting the doctor.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Why is shoulder pain worse at night?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Typically, shoulder pain that gets worse at night may be caused by
          bursitis, tendinopathy, or an injury to the rotator cuff. Bursitis is
          an inflammation of the bursa, which is a fluid-filled pad that
          provides a cushion to the bones of the joint.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Is Surgery the only treatment option to fix the tear in the Rotator
          Cuff?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          This is not true. Various conservative therapies such as Rest, Ice,
          and Anti-inflammatory drugs can improve functioning and reduce pain in
          patients with rotary cuff injuries or tears. If physiotherapy and
          medicines are giving results then there is no need for surgery.
          Doctors decide the best treatment option as per the severity of an
          injury.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How physiotherapy helps in rotator cuff injury?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          It may be all one needs to treat an injured rotator cuff.
          Physiotherapy is a way to get back strength and movement after an
          injury. It includes treatment like exercise, ice, heat, massage, and
          equipment to help return the shoulder to its normal range of motion.
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
