<%- include("../../header.ejs") -%>
  <link rel="stylesheet" href="css/general.css" />

  <section id="general-information">
    <div class="main-information">
      <h1>Spinal Pain</h1>
      <img src="images/ailmentsData/spinal-pain.png" loading="lazy" alt="Spinal Pain" />
      <p>
        Spine as we know is the most important structure of our body. It Travels
        down the low back area from the brain. Spinal pains are very serious and
        can hamper one&apos;s normal activities. Specially the Pain in Low back area
        and the neck region are highly prevalent leading to absence in working
        places. As these are the areas that are more prone for any changes and
        carry maximum strain due to their weight bearing functions and are
        involved in most of the body movements like twisting, turning, rotating
        side to side, bending etc.
      </p>
      <p>
        Acute Spinal pains can be treated with Physiotherapy alone but the ones
        that are very serious might even require surgical considerations with
        proper pre and post Physiotherapy Rehab.
      </p>
    </div>
    <div class="information-with-points-1">
      <div class="information-1">
        <h5>
          It can cause:</h5>
        <ul>
          <li>Radiating pain Down the leg from the back or to the arms from the neck area and can also occur over the
            chest.</li>
          <li> Severe symptoms Like Unbearable pains, Tingling sensations, Weakness, Numbness and cause inabilities to
            perform movements.</li>
          <li>Muscular spasms can occur due to inactivity /rest.</li>
          <li>Inability to maintain proper posture due to excess pain/ stiffness.</li>
          <li>Pain that stays for long like 10-14 days.</li>
          <li>Stiffness along with lack of movement.</li>
        </ul>
        <h5>Spinal Pains can occur due to various conditions such as:</h5>
        <ul>
          <li>Slipped Disc</li>
          <li>Spinal Stenosis</li>
          <li>Ankylosing Spondylosis</li>
          <li>Sciatica</li>
          <li>Degeneration</li>
          <li>Spinal Cord Injury</li>
          <li>Spondylosis</li>
        </ul>
        <p>

          By proper assessment and evaluation therapists undergo various treatment sessions before and after the surgery
          in order to make an individual fully independent and back to their life.</p>
        <p>

          If one has undergone Spinal surgery it brings about many changes in the patient&apos;s body yet causing some
          complications too. Therefore, physiotherapy should be the most important aspect of the treatment plan one
          should look for in order to prevent the complications and bring back the normal strength and functional
          movements in an individual.</p>
      </div>
    </div>
    <div class="information-with-point-2">
      <div class="information-2-image">
        <img src="images/ailmentsData/spinal-pain-1.jpg" alt="Spinal Pain" loading="lazy" />
      </div>
      <div class="information-2">
        <h5>
          Physiotherapy helps the patients with spinal pains by various techniques:
        </h5>
        <ul>
          <li>
            Here Exercises plays a major role in activating the weak muscles and strengthen them, Correcting the
            posture, Reducing the load over the spine and reducing the symptoms
          </li>
          <li>
            Education about proper position while sitting, lying is necessary.
          </li>
          <li>
            Various techniques like Muscle Energy Techniques , Taping and Cupping therapy can be done for better
            results.
          </li>
          <li>
            Modalities like Traction, TENS, Ultrasound etc are used in order to reduce pain and promote healing
          </li>
          <li> Patient Education about the condition and the ways to prevent further problems are taught by the
            therapists.</li>
          <li>Advance Physiotherapy techniques like Chiro-therapy, Osteopathy and Dry Needling have shown to have great
            results.</li>
          <li>Gait Training and Balancing exercises are also done in order to make one walk after spinal surgeries and
            help them to get back to their normal activities of daily life.</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What does it mean if your spine is hurting?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            In most cases, upper and middle back pain is caused by: Overuse, muscle strain, or injury to the muscles,
            ligaments, and discs that support your spine, poor posture, myofascial pain that affects the connective
            tissue of a muscle or group of muscles.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How do you relieve spinal cord pain?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Get more exercise. If your back is hurting, you may think the best way to get relief is to limit exercise
            and to rest. A day or two of rest may help, but more than that may not help in reducing pain. Experts now
            know that regular physical activity can help ease inflammation and muscle tension.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Is Spinal Cord Injury painful?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            In spinal cord injury (SCI) patients, chronic pain is common. It impacts about 70% of patients with
            one-third of these experiencing severely intense pain impacting on mood, functioning, and quality of life.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            Which position puts the least pressure on the back?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            When our back is in its ideal position, with us standing straight up or lying flat, we&apos;re placing the
            least amount of pressure on the discs between vertebrae. When we sit down and cause the back to curve, we
            add close to 50 percent as much pressure to these discs as when we&apos;re standing.
          </div>
        </div>
      </div>

  </section>

  <%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>