<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Advance Physiotherapy</h1>
    <img
      src="images/ourServicesData/physiotherapyData/advance-physiotherapy.jpg"
      loading="lazy"
      alt="Advance Physiotherapy"
    />
    <p>
      Advance Physiotherapy is not just an effective treatment as basic
      physiotherapy rather it shows more instant results with better outcomes.
      It works on evidence-based practices which shows better treatment plans.
      Not only it includes exercises but also contains some highly advanced
      techniques which have shown to provide excellent results on patients with
      any given condition.
    </p>
    <p>
      When the patient is suffering from a long term painful condition and
      doesn&apos;t find any benefits from any prior treatments can be advised to
      use these advance techniques which not just helps in pain relief but also
      helps to improve the condition by supporting the structures, promoting the
      healing process, and thereby improving the whole quality of life of a
      person.It really does have remarkable and excellent results.
    </p>
    <p>
      Advance physiotherapy helps in spinal alignment, postural correction,
      sudden pain due to facet joint locking, etc. Advanced Physiotherapy
      practice enables Physiotherapists to incorporate an advanced level of
      skills and knowledge within their physiotherapy practice.
    </p>
  </div>

  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/physiotherapyData/advance-1.jpg"
        alt="Advance Therapy"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>Some of the Advance Physiotherapy techniques are:</h5>
      <ul>
        <li>
          <b>Laser Therapy :</b> It is a non-invasive light source treatment
          which is one of the fastest, most effective modalities in order to
          treat patients with different conditions.
        </li>
        <li>
          <b> Dry Cupping :</b> It is one of the oldest and most effective
          methods of releasing toxins from body tissue and organs. In this, the
          therapist puts the cups on the skin which creates suction. This causes
          the tissue under the cup to be drawn up and swell causing an increase
          in blood flow to the affected area. Which further draws impurities and
          toxins away from the nearby tissues and organs towards the surface for
          elimination, relieving pain and reducing spasms, and removing toxins
          from the body.
        </li>
        <li>
          <b>Kinesio Taping :</b>It is designed to facilitate/ increase the
          body&apos;s natural healing process while providing support and
          stability to muscles and joints without restricting the body&apos;s
          motion. It not only helps in treating sports injuries but also in many
          musculoskeletal problems.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <ul>
      <li>
        <b>Chiro Therapy : </b>Manipulations (high-velocity thrust forces) are
        done by the therapists in order to treat the mal-alignments in a
        patient. The theory that applies is that proper alignment of the
        body&apos;s musculoskeletal structure, particularly the spine, will help
        the body to heal itself without surgery or medication.
      </li>
      <li>
        <b>Osteopathy :</b>Osteopathy is a way of detecting, treating, and
        preventing health problems by moving, stretching, and massaging a
        person&apos;s muscles and joints.
      </li>
      <li>
        <b>Dry Needling :</b>It has shown great benefits in recent researches
        and clinical practices. A needle is inserted into the muscle in order to
        treat the cause of the problem. It has instant effects and shows magical
        results.
      </li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          When should I go for Advance Physiotherapy?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          When basic physiotherapy doesn&apos;t give expected results for a long
          time or to get immediate relief from pain etc. advance physiotherapy
          should be opted for. It gives better results and faster recovery.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          I researched my condition on the internet and found some Youtube
          videos that promise to eliminate my pain. Should I do these exercises?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          No, is this not advisable to follow such videos as they could be quite
          dangerous. Without a proper assessment by a qualified doctor, one
          cannot know the true cause of the pain. The origin of the pain or
          restricted motion might be caused by something completely unrelated to
          the area you feel the pain or the restriction. For example, a
          misaligned hip can cause a sore knee, and a weak upper back can cause
          a sore shoulder. Youtube is an excellent resource if you plan on
          fixing your car or house, but it is no substitute when it comes to
          physiotherapy.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Can I get physiotherapy sessions on weekends?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Yes. We provide physiotherapy sessions on weekends, as well as
          sometimes the ongoing therapies, which need not have even a day&apos;s
          gap to maintain the pace of recovery. Hence our physiotherapist visits
          on weekends as well at the time comfortable to the patient.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Is physiotherapy painful?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Physiotherapy shouldn&apos;t hurt and is completely safe.
          Physiotherapy often activates deep tissue, and there may be some
          soreness after a treatment session. Stretching and deep tissue work
          often cause temporary soreness. It&apos;s important to note that
          sometimes getting better requires some hard work.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Why do my knees hurt and give out?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If your knee pain doesn&apos;t get better or if you have swelling that
          doesn&apos;t go away, talk to your Physio. There are effective
          treatments for knee arthritis (also called osteoarthritis).
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What are some other ailments WTC treats?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The list of ailments that our physiotherapists treat is almost
          endless. Here is just a small list of conditions and ailments in which
          physiotherapy is beneficial :
          <ul>
            <li>
              <b>Neurological:</b> acquired brain injuries, concussions,
              Parkinson&apos;s, muscular sclerosis, spinal cord injuries, stroke
              survivors.
            </li>
            <li><b>Musculoskeletal: </b> Back, neck, shoulder, knee.</li>
            <li>
              <b>Pediatric: </b>Movement disorders, developmental delays,
              muscular dystrophy, cerebral palsy.
            </li>
            <li>
              <b>Women&apos;s health: </b>Pregnancy issues, Prenatal, Post Natal
              care, urinary incontinence, and lymphedema.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
