<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Attendant</h1>
    <img
      src="images/ourServicesData/essentialsData/attendant-1.jpg"
      loading="lazy"
      alt="Occupational Therapy"
    />
    <p>
      Living with serious illness at any age is not only difficult for the one
      who is suffering but also for the people who see them suffering. Due to
      the illness of one person, the whole family is affected psychologically
      and financially. But now we are here to help and provide you with the most
      proven and reliable health services.
    </p>
    <p>
      Hiring an Attendant for the timely service of the loved one is the best
      option one can go for. A medically trained attendant would provide perfect
      care to the patient with all the precautions. The patient can be treated
      and taken care of with more sincerity than the family member in this era
      of busy life schedules. As a result the family member sometimes fails to
      take the best care of their loved ones due to their own busy schedules. We
      provide you with the best-skilled attendant who will meet all the needs of
      the patient without any complaints. A home attendant is also available for
      elderly patient care, baby care, and other home care services.
    </p>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/essentialsData/attendant-2.jpg"
        loading="lazy"
        alt="Occupational Therapy"
      />
    </div>
    <div class="information-2">
      <h5>
        Attendants have all the below responsibilities and watch closely after
        the patient:
      </h5>
      <ul>
        <li>
          They keep a record regarding every single detail and treatment plan of
          patients and assist them in order to get better.
        </li>
        <li>
          They feed the patient/elderly person on time and according to their
          health status.
        </li>
        <li>
          Maintains their overall hygiene by taking care of Bed Bath/Sponge
          Bath, Skin Care/Non-medicated lotion to dry areas, assist with getting
          dressed, and keeps their nails, hair, etc neat and clean.
        </li>
        <li>
          Assist with walking and home exercises, turn position in bed, and
          other exercises to keep them active.
        </li>
        <li>
          EThey Maintain a positive and healthy environment, make them smile,
          and try to keep them diverted from illness and negativity.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <h5>Our Benefits</h5>
    <ul>
      <li>
        Our Attendants are the finest, Certified, skilled, Soft-spoken, and
        polite by nature and undoubtedly provide the best services all over
        Delhi/ NCR.
      </li>
      <li>
        The attendants help the patient in discharging their fecal, toileting,
        changing their diapers, and all similar essential stuff.
      </li>
      <li>
        They carry every single information regarding the patient whether
        it&apos;s about their illness, appointment details, or medications they
        are taking.
      </li>
    </ul>
  </div>
</section>
<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
