<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Basic Physiotherapy</h1>
    <img
      src="images/ourServicesData/physiotherapyData/basic-physiotherapy (2).jpg"
      loading="lazy"
      alt="Basic Physiotherapy"
    />
    <p>
      Physiotherapy is a branch of medicine gaining popularity worldwide. It is
      one of the finest treatment plans one can go for in order to achieve the
      desired results. It helps to restore body movements and functions when
      someone is affected by injury, illness, or disability. Moreover,
      physiotherapy is a healthcare profession that assesses, diagnoses, treats,
      and works to prevent disease, impairment, and disability.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/physiotherapyData/basic-therapy.jpg"
        loading="lazy"
        alt="Basic Therapy"
      />
    </div>
    <div class="information-1">
      <h5>
        Physiotherapy helps patients suffering from various problems such as:
      </h5>
      <ul>
        <li>
          Musculoskeletal (low back pain, shoulder pain, neck pain,
          Osteoarthritis)
        </li>
        <li>Sports injuries (ACL rupture, Shin splint, tennis&apos; elbow)</li>
        <li>
          Neurological (stroke, spinal cord injuries, Parkinson&apos;s, multiple
          sclerosis)
        </li>
        <li>
          Cardiovascular (chronic heart disease, rehabilitation after a heart
          attack)
        </li>
        <li>
          Respiratory (asthma, chronic obstructive pulmonary disease, cystic
          fibrosis), and many more.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      Physiotherapy is not just for the patients with injuries or illness or for
      the elderly, rather it also helps a normal individual to gain strength,
      power, endurance, and prevents the chances of injuries. It does wonders to
      a person&apos;s life. Physiotherapy helps the patients suffering from
      acute muscles spasm to highly painful fractures, from minor injuries to
      major problems and whatnot. Surgeries and medicines have a great role to
      play but they come with a lot of side effects as well. Physiotherapy on
      the other hand doesn&apos;t have any side effects and brings the patients
      back to a normal healthy life. It also has a role to play in pre and
      post-operative cases as well in order to help the patient to have a
      normal, healthy, and functional life again.
    </p>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/physiotherapyData/basic-therapy-2.jpg"
        alt="Basic Therapy"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>Physiotherapy has many benefits (some of them are):</h5>
      <ul>
        <li>It helps in decreasing pain.</li>
        <li>It improves strength and Range of Motion.</li>
        <li>It improves Balance and Coordination.</li>
        <li>It helps prevent further injuries.</li>
        <li>It helps to prevent falls in the elderly.</li>
        <li>It helps in maintaining cardiovascular fitness.</li>
        <li>It improves the quality of life of a person.</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      For the patients who are advised to have surgery as a treatment option, if
      they take proper physiotherapy sessions i.e. Early rehab etc., it can help
      in avoiding surgeries or delaying it by helping you in doing Maximum work
      in a pain-free manner. Physiotherapy is undoubtedly the best treatment
      option one must consider over pills and surgeries.
    </p>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Who should go for physiotherapy?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The need for physiotherapy can arise at any age. Whether it&apos;s a
          baby, a young professional, or an elderly person. If you or your loved
          one have experienced any kind of sprain, injury, or muscular disorder;
          physiotherapy (beginner or advanced level) can do a world of good for
          your overall physical well-being and put you on the track to fast
          recovery
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Should I consult a Physiotherapist or any other Doctor for my pain?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          It&apos;s recommended to consult a physiotherapist at any time you are
          in pain since 80-85% of the time it could be treated with
          physiotherapy. You don&apos;t always need a doctor&apos;s prescription
          for taking physiotherapy sessions. But when any doctor prescribes
          physiotherapy, then such recommendation shouldn&apos;t be ignored.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          What happens during a physiotherapy session?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          First a thorough assessment of the patient&apos;s condition is done by
          the physios after which they chart out the treatment protocol. The
          attending physio may consult a senior physiotherapist or the
          patient&apos;s consulting doctor before finalizing the protocol. The
          treatments vary from patient to patient depending upon the condition
          of the patient and the type of treatment needed.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How do you know when my knee pain is serious?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The possible causes include damage to one of the knee ligaments, a
          meniscus tear, arthritis, patellar instability, or even nerve damage.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Why do my knees hurt and give out?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If your knee pain doesn&apos;t get better or if you have swelling that
          doesn&apos;t go away, talk to your Physio. There are effective
          treatments for knee arthritis (also called osteoarthritis).
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          When should I call a Physio about knee pain from arthritis?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          If both of your knees are sore, it may be because you have changed or
          increased your activity. If one knee is sore and you didn&apos;t hurt
          it, and the knee doesn&apos;t get better, talk to a Physio.
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
