<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Doctor Visit</h1>
    <img
      src="images/ourServicesData/essentialsData/doctor-visit.png"
      loading="lazy"
      alt="Doctor"
    />
    <p>
      Why worry about any health-related emergency when we are here to provide
      the best Doctors at your doorstep. Every once in a while, we are bound to
      consult a doctor to get a regular health check-up or consult them for
      problems like seasonal cold, cough, acute pains, injuries, chronic
      illness, etc. Sometimes we are physically very weak, ill, or feel like not
      going to doctors rather wish for them to visit us. Now, this seems to be
      very easy as we have a team of highly qualified, experienced, and skilled
      Doctors to visit your home.
    </p>
    <p>
      A home Doctor visit is more reasonable than visiting the hospitals and the
      best thing about the home consultation is that you are treated in your own
      comfortable environment with your family members around. Our Doctors are
      qualified professionals and provide you with the top services related to
      any condition at hand and helps throughout the recovery process if needed.
      Home Consultation gives more Personal medical care to your loved ones as
      it has been found that the patient tends to recover sooner in a familiar
      surrounding than in a hospital. Not all illness needs hospitalization but
      owing to lack of support at home, patients end up at nursing homes and
      hospitals for medical care. It is in those cases that the home visit
      doctor proves to be highly beneficial, as they can easily provide medical
      attention wherever the patient is located.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/essentialsData/doctor-1.png"
        loading="lazy"
        alt="Basic Therapy"
      />
    </div>
    <div class="information-1">
      <h5>Our Doctors provide you with a variety of services like:</h5>
      <ul>
        <li>
          <b>Health checkups <code>&#8212;</code></b> It is very important
          especially in cases of children and the elderly.
        </li>
        <li>
          <b>Diabetic Care <code>&#8212;</code></b
          >As it requires regular monitoring of the blood glucose levels and
          prescription of medications that are necessary to avoid the problems
          that can occur later.
        </li>
        <li>
          <b>Orthopedic conditions <code>&#8212;</code></b
          >Whether it&apos;s a sprain, injury, back or neck pains, or a serious
          problem like arthritis, Post Replacement joint pains, or Fracture,
          people tend to suffer through extreme pain and inability to perform
          any activity. A doctor&apos;s visit at home is very useful in such
          cases.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <ul>
      <li>
        <b>Neurological conditions <code>&#8212;</code></b
        >When people are suffering from neurological problems like stroke, brain
        injury, etc. they tend to be in serious conditions and should be treated
        with proper care and management. One should feel free to contact us as
        our doctors use all the advanced techniques that help patients to
        recover fast.
      </li>
      <li>
        <b>Cardio Conditions <code>&#8212;</code></b
        >People with heart problems suffer from a lot of breathing issues, chest
        pains, etc which should be taken care of closely in order to avoid any
        serious problem or complications.
      </li>
      <li>
        <b>Post Surgical Care <code>&#8212;</code></b
        >Whether a Cardio, Neuro, or Ortho condition, patients who have gone
        through surgery require utmost care and a proper treatment plan in order
        to achieve independence and live a pain-free life.
      </li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Who are consulting Doctors?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The Doctors that are well qualified and Registered with good track
          records are our Consulting Doctors.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          What all specialities doctors we can get at home for a consultation?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Below mentioned doctors of different specialities are available with
          us for home consultation :
          <ul>
            <li>General Physician</li>
            <li>Paediatrician</li>
            <li>Gynaecologist</li>
            <li>Cardio specialist</li>
            <li>Physiotherapist</li>
            <li>ENT specialist</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Is my consultation confidential?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Yes, all information regarding the patient, the advice is given, and
          the treatment plan remains confidential.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What is the qualification of doctors we get?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          We provide well-qualified doctors who have vast experience in their
          fields and a great track record in treating their patients of a
          variety of conditions.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How long a Consultation is valid?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          One consultation is valid for the same day and one is charged again on
          the next visit.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How often a doctor will visit me?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The frequency of our doctor visits varies depending on the
          patient&apos;s needs and treatment plan.
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
