<%- include("../../header.ejs") -%>
  <link rel="stylesheet" href="css/general.css" />

  <section id="general-information">
    <div class="main-information">
      <h1>Neuro Physiotherapy</h1>
      <img src="images/ourServicesData/specialisedData/neuro-2.jpg" loading="lazy" alt="Neuro" />
      <p>
        Neuro Physiotherapy is a specialized branch of Physiotherapy which helps
        in treating the patients who are suffering from various problems that are
        caused due to neurological condition. Injury to the nervous system <code>&#8212;</code>
        whether to the Brain, Spinal cord, or the peripheral nerves could occur
        due to many reasons like Trauma, Certain infections, Birth defects like
        Cerebral palsy, Deficiency diseases like Rickets, Vitamin B-12 deficiency,
        etc.
      </p>
      <p>
        Any Neurological condition that affects the person&apos;s movement or physical
        ability is treated by Neuro physiotherapy. It might take long-term
        sessions to bring the results but definitely works the best in gaining
        natural functions.
      </p>
      <p>
        Neuro Physiotherapy helps in treating problems like Paralysis of muscles
        whether of legs or both the hands or either side of the body.
      </p>
    </div>
    <div class="information-with-points-1">
      <div class="information-1-image">
        <img src="images/ourServicesData/specialisedData/neuro.jpg" loading="lazy" alt="Occupational Therapy" />
      </div>
      <div class="information-1">
        <h5>Problem treated in Neuro Physiotherapy also includes:</h5>
        <ul>
          <li>Headache</li>
          <li>Head injury</li>
          <li>Spinal cord injury</li>
          <li>Meningitis</li>
          <li>Alzheimer&apos;s Disease</li>
          <li>Bell&apos;s Palsy</li>
          <li>Brain tumors</li>
          <li>Epilepsy/ Seizures</li>
          <li>Vertigo</li>
          <li>Parkinson&apos;s disease in the elderly</li>
          <li>Tremors</li>
          <li>Stroke</li>
          <li>Muscular Dystrophy</li>
        </ul>
      </div>
    </div>
    <div class="information-3">
      <p>
        For the patients who are advised to have surgery as a treatment option, if
        they take proper physiotherapy sessions i.e. Early rehab etc., it can help
        in avoiding surgeries or delaying it by helping you in doing Maximum work
        in a pain-free manner. Physiotherapy is undoubtedly the best treatment
        option one must consider over pills and surgeries.
      </p>
    </div>
  </section>
  <section id="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What does a neuro physiotherapist do?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            A neuro physiotherapist focuses on assessing and treating people with
            movement disorders that have resulted from injury or disease to the
            brain, spinal cord, or extremities of the body. He aims to improve the
            quality of life by maximizing one&apos;s potential.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What are the goals of a neuro physiotherapist?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            He treats to provide recovery from injury and to minimize and/or
            compensate for any functional alterations resulting from it and to
            make a patient independent for his/her ADLs <code>&#8212;</code> Activity of Daily
            Living.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How quickly does physiotherapy in neuro cases give results?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Minor injuries may need 4-5 sessions of physiotherapy. For soft tissue
            injuries, it takes 6 <code>&#8212;</code> 8 weeks, as it is the time taken for soft
            tissue to heal in most cases and more chronic or serious conditions
            take around 2 or more months of treatment depending on the level of
            progress.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            Does Neuro Physiotherapy help patients suffering from paralysis?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Yes, neuro physiotherapists help in restoring the sensation in the
            limbs affected due to paralysis. Although this treatment takes time
            manual therapy provided by us supported by advanced equipment promotes
            early recovery from paralysis.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
            Can I overdo physio exercises?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            When you&apos;re under the care of a physical therapist, they may assign a
            specific number of sets or repetitions of an exercise to do according
            to your physical condition. As a result, you don&apos;t tend to exert
            yourself or overdo the exercises.
          </div>
        </div>
      </div>


  </section>

  <%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>