<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Nursing Care</h1>
    <img
      src="images/ourServicesData/essentialsData/nurse.png"
      loading="lazy"
      alt="Nurse"
    />
    <p>
      When it comes to our family, we look for the best services, and here we
      are providing you with all the services that will not just satisfy you but
      will also help you get the best results. Nursing care service is very much
      needed for elderly care, post-surgical care, and chronic illness disabled
      care or cognitively impaired care. Hence, when in need of such assistance,
      you can rely on us because we aid you with the best Nursing care services
      in Delhi/NCR. Our aim in providing home nursing service is to assure that
      the person can live independently in their own home with their beloved
      family members happily.
    </p>
    <p>
      Our Home Nursing services are usually cheaper than the hospitals and more
      effective as the nurse gets more time to involve and integrate with the
      patient and the family members which might not always be possible in other
      settings like hospitals/ Nursing Homes. We provide a licensed nursing
      professional who not only is good at work but is also well mannered and
      focused to help our patients with the best care than others.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/essentialsData/nurse-1.jpg"
        loading="lazy"
        alt="Basic Therapy"
      />
    </div>
    <div class="information-1">
      <h5>What Nurses can help you with:</h5>
      <ul>
        <li>
          They coordinate with the Physician, therapist, and other doctors to
          develop a plan of care in order to restore the patient&apos;s health
          and improve their overall quality of life.
        </li>
        <li>
          They deal with the wound/ injury with the utmost care and manage all
          the medical activities like:
          <ul>
            <li>Providing medicines on time</li>
            <li>Giving injections</li>
            <li>Ointment</li>
            <li>Dressing</li>
            <li>Suction</li>
            <li>Ryles tube feeding etc.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <ul>
      <li>
        They educate their patients and their family members about the condition
        and all the treatment plans to be followed.
      </li>
      <li>
        They have a key role in the administration of correct medicines as
        prescribed and other interventions.
      </li>
      <li>
        They check the vitals carefully and look for the signs if the health is
        improving or deteriorating.
      </li>
      <li>
        They Feed them from time to time, our nurses ensure that they do not
        consume any intoxicating things which are not good for the patient’s
        health.
      </li>
      <li>
        Patients require proper maintenance of cleanliness and hygiene and so
        our nurses make the patient sponge at the bed or help them take shower,
        take good care of their oral hygiene, cleanliness of bed, clothes, etc.
      </li>
    </ul>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/essentialsData/nurse-2.jpg"
        alt="Basic Therapy"
        loading="lazy"
      />
    </div>
    <div class="information-2">
      <h5>Our Nursing Care service helps with the following :</h5>
      <ul>
        <li>
          They support the patient in walking, sleeping properly, exercises, and
          other essential physical activities.
        </li>
        <li>
          They provide assistance in the urinal, changing of a colostomy bag,
          diapers, etc.
        </li>
        <li>
          Tracks weight, sugar level, blood pressure, body temperature, etc from
          time to time when needed.
        </li>
        <li>
          They also perform basic functions like:
          <ul>
            <li>Changing bandages</li>
            <li>Injection</li>
            <li>Wound dressings</li>
            <li>Nebulization</li>
            <li>Suctioning</li>
            <li>Tracheostomy</li>
            <li>ICU Care etc.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <ul>
      <li>
        They ensure whether the patients are comfortable, well-fed, and
        hydrated.
      </li>
      <li>
        Our nurses tend to develop a healthy and happy relationship with the
        patient resulting in a good state of mind of the patient.
      </li>
      <li>
        They support the patient physically and psychologically with their
        polite behavior and friendly nature.
      </li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Which kind of patient need nursing care at home?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          TThe services of a skilled nurse are usually required by:
          <ul>
            <li>
              Patients who&apos;ve just been discharged from the hospital and
              require hospital-like care for a few weeks.
            </li>
            <li>
              Patients who&apos;ve been prescribed by the doctor have constant
              palliative care.
            </li>
            <li>Patients who&apos;ve been on ambulatory support.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          What all Home Nursing Programs are available?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <p>
            Home Nursing Programs are ideal for patients that require long-term
            in-home nursing care for complex medical issues as well as
            day-to-day needs. These programs are aimed at helping patients gain
            back their independence through a systematic and compassionate care
            plan specially devised for each patient.
          </p>
          Our programs include:
          <ul>
            <li>Critical Care Nursing</li>
            <li>Tracheostomy Nursing</li>
            <li>Palliative Nursing</li>
            <li>Mother & Babycare Nursing</li>
            <li>Geriatric Nursing</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          What are the services provided by the nursing staff?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          A trained nurse assists with post-surgical care, Tracheotomy, Urine
          catheterization, Suture removal, Wound care, Injections, Oxygen
          administration, IV infusion, etc.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How often a nurse visit?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The frequency of nursing visits varies depending on the patient&apos;s
          needs and treatment plan.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Can I avail 12-hr or 24-hr nursing service?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Yes, we offer both 12-hr and 24-hr nursing service at home for
          patients in need.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How qualified are nurses from WE TAKE CARE?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          All our nurses are professionally trained and certified. Also, most of
          our nurses have GNM, BSC, MSC degrees with a minimum of 5 years of
          experience. They have ICU experience as well.
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
