<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Occupational Physiotherapy</h1>
    <img
      src="images/ourServicesData/essentialsData/occupational-therapy (2).jpg"
      loading="lazy"
      alt="Occupational Therapy"
    />
    <p>
      Occupational therapy plays an important role in helping people to do
      things of their interest through therapeutic activities. They enable
      people of all ages to live to their fullest by helping them promote
      health, prevent injuries or illness, and make them live in a better way
      without being dependent on others.
    </p>
    <p>
      It helps one deal with daily activity needs. It helps to develop
      personality and makes one believe in himself by developing self-esteem and
      confidence. They work on their patients and treat them as a whole to allow
      them to function properly without any problems in order to restore and
      enhance their performances.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/essentialsData/occupational-therapy-1.jpg"
        loading="lazy"
        alt="Occupational Therapy"
      />
    </div>
    <div class="information-1">
      <h5>Benefits of Occupational Therapy:</h5>
      <ul>
        <li>
          Help people with disabilities to participate in work and social
          activities.
        </li>
        <li>
          Help people to recover from injuries and regain the previous state of
          health.
        </li>
        <li>
          Provide support to patients who are experiencing any physical,
          behavioral, or cognitive disabilities.
        </li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <p>
      Occupational therapy includes physical, psychological, and social
      evaluation of a person in order to achieve the required goals. Planning of
      a proper intervention therapy is done to improve the person&apos;s
      ability, to restore and perform his daily activities such as feeding,
      brushing, clothing, playing, socializing, etc. All such activities require
      to develop strength and ability which help them perform better in the
      future.
    </p>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/essentialsData/occupational-therapy-2.jpg"
        loading="lazy"
        alt="Occupational Therapy"
      />
    </div>
    <div class="information-2">
      <h5>How Our Occupational Therapists Will Help You?</h5>
      <ul>
        <li>
          Designing and Providing brace/ splints or other assistive devices to
          the patients in order to give them support/ assistance in any
          activity.
        </li>
        <li>
          Planning different techniques like writing, drawing in order to
          develop fine motor skills.
        </li>
        <li>
          Instructing caregivers with regard to mealtime intervention for
          children with autism as they have feeding difficulties.
        </li>
        <li>
          Modifying the environment to allow easy access to children/adults with
          disabilities.
        </li>
        <li>
          Engaging people to participate in meaningful activities and helps in
          making them confident and independent.
        </li>
        <li>
          Teaching and motivating patients with illness and disability and using
          occupation that has a positive effect on the individual.
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How can an occupational therapist help child with handwriting
          difficulties?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Our Occupational therapists are trained and highly skilled in detailed
          mechanics of hand function and other aspects that relate to the task
          of handwriting. Our Occupational therapist works on every aspect and
          skill to help their patients.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          With whom an occupational therapist co-ordinates?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          They are part of the healthcare team along with other doctors,
          registered nurses, and therapists. They work with patients having
          chronic conditions and help them to rehabilitate with their residual
          capacity.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          How does an occupational therapist work?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Occupational therapist interacts with the client. The evaluation
          process includes referral, screening, developing an occupational
          profile, and analyzing occupational performance. The intervention
          process includes planning, implementation, and review.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What are the main duties that an occupational therapist offers?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Occupational therapists treat disabled patients through the
          therapeutic use of everyday activities. They help these patients
          develop, recover, improve, as well as maintain the skills needed for
          daily living and working.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What is the main role of an occupational therapist?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          An occupational therapist&apos;s main role is to help people of all
          ages to overcome the effects of disability caused by illness, ageing,
          or accident so that they can carry out everyday tasks or occupations.
          An occupational therapist considers a patient&apos;s needs related to
          physical, psychological, social, and environmental.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What are the areas in which occupational therapists work?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
            <li>Activities of daily living (ADLs)</li>
            <li>Instrumental activities of daily living (IADLs)</li>
            <li>Sleep and rest.</li>
            <li>Work.</li>
            <li>Education.</li>
            <li>Play.</li>
            <li>Leisure.</li>
            <li>Social participation.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
