<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Orthopedic Physiotherapy</h1>
    <img
      src="images/ourServicesData/specialisedData/ortho.jpg"
      loading="lazy"
      alt="Orthopedic Therapy"
    />
    <p>
      Orthopedic Physiotherapy is a specialized field that focuses on the
      injuries related to Bones, Ligaments, Tendons, Spinal discs, and Muscles.
      It does wonders in treating patients suffering from Musculoskeletal
      disorders at any age, whether a child, adult, or elderly. It includes a
      proper assessment of the conditions and rules out the exact cause of the
      problem and helps in managing them with proper Basic and Advance
      techniques.
    </p>
    <p>
      Our expert team of Physiotherapists not only treat all minor injuries that
      require short-term physiotherapies such as Simple Muscle strains, small
      fractures, or acute pains, but also all major injuries that require long
      term physiotherapies such as Rheumatoid arthritis, Severe disability, and
      excruciating pain conditions.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/specialisedData/ortho-1.jpg"
        loading="lazy"
        alt="Orthopedic Therapy"
      />
    </div>
    <div class="information-1">
      <h5>
        Some of the Orthopedic conditions treated by our Physiotherapists are:
      </h5>
      <ul>
        <li>Ligament Strain</li>
        <li>Sprains</li>
        <li>Fractures</li>
        <li>Osteoarthritis</li>
        <li>Postural Problems</li>
        <li>Joint pains</li>
        <li>Low backaches</li>
        <li>Surgical Rehabilitation</li>
        <li>Ankylosing Spondylosis</li>
        <li>Spinal problems</li>
        <li>Scoliosis</li>
        <li>Fibromyalgia etc</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <h5>How our Orthopedic Physiotherapists (OP) works?</h5>
    <ul>
      <li>
        OP works by Assessing their patients and examining them with the help of
        different clinical exams and investigations in order to make treatment
        plans.
      </li>
      <li>
        They help in treating patients suffering from different musculoskeletal
        problems with the help of various techniques and modalities.
      </li>
      <li>
        Various exercises are supervised by the therapist include:
        <ul>
          <li>Strengthening exercises</li>
          <li>Balancing exercises</li>
          <li>Mobility exercises</li>
          <li>Flexibility exercises</li>
          <li>Stretching</li>
          <li>Gait training exercises</li>
          <li>
            Manual techniques like Mobilization and Manipulations etc are done
            by the therapists that have shown to provide amazing results to the
            patients.
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/specialisedData/ortho-2.jpg"
        loading="lazy"
        alt="Occupational Therapy"
      />
    </div>
    <div class="information-2">
      <ul>
        <li>
          OP plans the exercise programs according to the patient&apos;s ability
          and conditions in order to help them get back to their normal daily
          functioning.
        </li>
        <li>
          They work on: Reducing pain, Increasing Strength and Flexibility,
          Maintaining correct Posture, Promoting the Healing process, Teaching
          proper Balance exercises, etc.
        </li>
        <li>
          They help you to get back to your normal activity pain-free and makes
          you stronger and independent in every way.
        </li>
        <li>
          Home exercise programs are designed by the therapists to help their
          patients return to their original healthy independent state.
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What does an orthopaedic physiotherapist do?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          An orthopaedic physiotherapist is specialized in assessing and giving
          an appropriate diagnosis based on which the patient is treated. It
          includes conditions and injuries that are related to muscles, bones,
          ligaments, tendons, and connective tissues.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          If I have an ergonomically designed mattress and chairs, I won&apos;t
          get neck and back pain”?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The ergonomically designed mattresses and chairs are useful in the
          maintenance of good posture, however, there may be various reasons for
          neck and back pain. A thorough evaluation of the symptoms is done by a
          musculoskeletal physiotherapist for appropriate management of the
          symptoms.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          What we do in manual therapy?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          In manual therapy-specific skilled hands-on techniques are used by a
          physiotherapist to diagnose and treat soft tissues and joint
          structures to modulate pain and increase range of motion.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What makes our orthopaedic physiotherapists different?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Our Orthopedic physiotherapists use advance skills to assess and treat
          injuries and conditions that involve the skeleton (bones), muscles,
          tendons, ligaments, and fascia.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What are the benefits of manual therapy techniques that we offer?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Manual therapy techniques are intended to improve tissue
          extensibility; increase range of motion; induce relaxation; mobilize
          or manipulate soft tissue and joints; modulate pain; and reduce soft
          tissue swelling, inflammation, etc.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          How does manual therapy work?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          In manual therapy, our practitioners use their hands to put pressure
          on muscle tissue and manipulate joints in an attempt to decrease back
          pain caused by muscle spasm, muscle tension, and joint dysfunction.
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
