<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Rehabilitation Physiotherapy</h1>
    <img
      src="images/ourServicesData/specialisedData/rehabilitation.jpg"
      loading="lazy"
      alt="Rehabilitation Therapy"
    />
    <p>
      Rehabilitation is something that helps the patient to return to their
      original state and condition by restoring their pain-free movements,
      overall health, and improving their quality of life. RP helps the patient
      by knowing their detailed history, cause of the problem, and by doing
      proper examination to provide them with the best Rehab sessions. It helps
      to prevent the future attack of any condition and injury.
    </p>
  </div>
  <div class="information-with-points-1">
    <div class="information-1-image">
      <img
        src="images/ourServicesData/specialisedData/rehabilitation-1.jpg"
        loading="lazy"
        alt="Rehabilitation Therapy"
      />
    </div>
    <div class="information-1">
      <h5>
        Rehabilitation Physiotherapy can be done in any condition that might be
        related to Neuro, Cardio, or Ortho problems like:
      </h5>
      <ul>
        <li>Stroke</li>
        <li>Musculoskeletal injuries</li>
        <li>Hemiplegia</li>
        <li>Low back pains</li>
        <li>Chronic pains</li>
        <li>Sports injuries</li>
        <li>Fractures</li>
        <li>Injuries from Falls</li>
        <li>Post Operative conditions</li>
        <li>Chronic Obstructive Pulmonary Disease etc</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <h5>How our Rehab Physiotherapists (RP) works?</h5>
    <ul>
      <li>
        Rehabilitation includes the use of various physical agents as well as
        therapeutic exercises to help the patients:
        <ul>
          <li>Reduce Pain</li>
          <li>Improve Quality of life</li>
          <li>Recover from temporary or serious impairment</li>
          <li>
            Learn how to use assistive devices like braces, wheelchairs, and
            walkers if necessary
          </li>
        </ul>
      </li>
      <li>
        RP includes various treatment techniques like:
        <ul>
          <li>Strengthening exercises</li>
          <li>Breathing Exercises</li>
          <li>Balancing exercises</li>
          <li>Gait training with or without assistance</li>
          <li>Flexibility and Mobility exercises</li>
          <li>Proper positioning</li>
          <li>Postural correction</li>
          <li>Use of Modalities like Heat therapy, Traction or Massage</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/specialisedData/rehab2.jpg"
        loading="lazy"
        alt="Rehabilitation Therapy"
      />
    </div>
    <div class="information-2">
      <ul>
        <li>
          Rehabilitation physiotherapy works in a team with other specialty
          members like speech therapist, Psychologist, Orthotist- Prosthetist,
          Vocational counselor, and others.
        </li>
        <li>
          Rehab is used for the recovery from injury/disease and for the
          management of long-term conditions such as Parkinson&apos;s and
          Multiple Sclerosis etc.
        </li>
        <li>
          RP motivates the patient and helps them to gain their social and
          functional independence.
        </li>
        <li>
          PR focuses on the needs of the group of people with specific
          conditions and helps them to restore their daily life activities.
        </li>
        <li>
          Rehabilitation is needed by an increasing number of individuals today
          because of their ability to live longer and productive lives.
        </li>
      </ul>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
