<%- include("../../header.ejs") -%>
<link rel="stylesheet" href="css/general.css" />

<section id="general-information">
  <div class="main-information">
    <h1>Speech Therapy</h1>
    <img
      src="images/ourServicesData/essentialsData/speech-therapy.png"
      loading="lazy"
      alt="Occupational Therapy"
    />
    <p>
      Speech plays a very important role in one&apos;s life, if one&apos;s
      speech gets affected due to any reason it causes a drastic change in a
      person&apos;s life. Speech therapy deals with the assessment and treatment
      of such patients having communication problems and speech disorders.
      Speech therapy exercises and activities vary depending on the
      patients&apos; disorder, age, and needs. This therapy is used to improve
      the communication of a person which includes articulation therapy,
      language intervention activities, and others depending on the type of
      speech or language disorder.
    </p>
    <p>
      Speech disorders can develop in any stage whether in childhood or in
      adults which are caused by an injury or illness, such as stroke or brain
      injury that requires speech therapy.
    </p>
  </div>
  <div class="information-with-point-2">
    <div class="information-2-image">
      <img
        src="images/ourServicesData/essentialsData/speech-therapy-1.jpg"
        loading="lazy"
        alt="Occupational Therapy"
      />
    </div>
    <div class="information-2">
      <h5>Speech Therapy can treat disorders like:</h5>
      <ul>
        <li>
          Articulation disorders (inability to properly form certain word
          sounds)
        </li>
        <li>Fluency disorders ( stuttering and cluttering)</li>
        <li>Receptive disorders</li>
        <li>Expressive disorders</li>
        <li>Cognitive-communication disorders</li>
        <li>
          TAphasia (Person&apos;s inability to speak and understand others)
        </li>
        <li>Dysarthria ( slow or slurred speech)</li>
      </ul>
    </div>
  </div>
  <div class="information-3">
    <h5>For Children</h5>
    <ul>
      <li>
        Speech Therapists interact through talking and playing and using books,
        pictures, and other such objects to help in language development.
      </li>
      <li>
        They model correct sounds and syllables for a child to teach them how to
        articulate certain sounds.
      </li>
      <li>
        They provide homework for the child and parents on how to do speech
        therapy at home so as to get early results.
      </li>
    </ul>
    <h5>For Adults</h5>
    <ul>
      <li>
        Speech Therapists begin with an assessment to determine one&apos;s needs
        and the best treatment available.
      </li>

      <li>
        Speech therapy exercises for adults help them in speech, language, and
        cognitive-communication.
      </li>
      <li>
        Therapy may also include retraining of swallowing function with an
        injury or medical condition, such as Parkinson&apos;s disease or oral
        cancer which causes swallowing difficulties.
      </li>
    </ul>
  </div>
</section>
<section id="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What is done in speech therapy?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          In this treatment is given to solve issues related to speech,
          language, and swallowing. Speech therapy helps in using the muscles to
          articulate the right words and sounds. It helps people make themselves
          understandable.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          For kids, how long does it take for a speech therapist to bring
          results?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          It depends on the condition of speech of the kid being treated. Kids
          might see a speech therapist once a week or a few times a week.
          Treatment time may vary from weeks, months to years as well.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          How is speech therapy given to adults?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          The therapist makes the adult do exercises that involve activities
          like problem-solving, memory games, and other activities that help in
          improving cognitive-communication skills, improve social communication
          skills, and breathing exercises for resonance, etc.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Can speech disorders be cured?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Some speech disorders cure on their own. Others need the help of a
          speech therapist. Our Treatment depends on the type of disorder one
          has. In speech therapy, our professional therapist guides the patient
          through exercises that work to strengthen the muscles of the face and
          throat.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Does speech therapy really work?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Yes, speech therapy brings great results if followed judiciously.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What benefits does speech therapy services offer?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Speech therapists help in bringing the following results :
          <ul>
            <li>Activities of daily living (ADLs)</li>
            <li>Instrumental activities of daily living (IADLs)</li>
            <li>Sleep and rest.</li>
            <li>Work.</li>
            <li>Education.</li>
            <li>Play.</li>
            <li>Leisure.</li>
            <li>Social participation.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>
