<%- include("../../header.ejs") -%>
  <link rel="stylesheet" href="css/general.css" />

  <section id="general-information">
    <div class="main-information">
      <h1>Sports Physiotherapy</h1>
      <img src="images/ourServicesData/specialisedData/sports (2).jpg" loading="lazy" alt="Sports Therapy" />
      <p>
        Sports Physiotherapy is a specialized branch of Physiotherapy which deals
        with the problems related to injuries that mainly occur during a sports
        event or after that (whether it is on-filed or off-field.)
      </p>
      <p>
        Sports therapists play a huge role in helping out sportspersons of all
        ages and at different sports levels to enhance their ability to perform
        well. They have a role in pre-participation evaluation, the decision of
        clearance to play, and planning the rest & recovery schedule of athletes.
      </p>
      <p>Sports physiotherapists also work and travel with individual players or teams, coordinate with other medical
        professionals, and helps in training, injury prevention, rehabilitation, and promote health and skill related
        components of player/athlete. (like strength, endurance, coordination, reaction time, balance, power, etc.)</p>
      <p>Performance enhancement is one of the major goals of sports physiotherapy. Thus, it has become an integral part
        of any sport in today&apos;s era.</p>
    </div>
    <div class="information-with-points-1">
      <div class="information-1-image">
        <img src="images/ourServicesData/specialisedData/sports-1.jpg" loading="lazy" alt="Sports Therapy" />
      </div>
      <div class="information-1">
        <h5>
          Some of the Sports conditions treated by the Physiotherapists are:
        </h5>
        <ul>
          <li>
            ACL injury
          </li>
          <li>
            Rotator cuff tear
          </li>
          <li>
            Sudden Blow
          </li>
          <li>Whiplash injury</li>
          <li> Twisting injuries</li>
          <li> Ankle Sprains</li>
          <li>Strains</li>
          <li>Stress Fractures</li>
          <li>Runner&apos;s Knee</li>
          <li>Jumper&apos;s Knee</li>
          <li>Shin Splint</li>
        </ul>
      </div>
    </div>
    <div class="information-3">
      <h5>
        How our Sports Physiotherapists (SP) works?
      </h5>
      <ul>
        <li>
          Sports therapist assess their athletes in a proper manner and also train them according to their sports.
        </li>
        <li>
          Our SP provides training sessions along with proper warm-ups and cool down in order to enhance performance and
          decrease the chances of injuries during any sports.
        </li>
        <li>
          SP helps by giving advice related to play techniques and proper equipment to the athletes which help in
          preventing injuries.
        </li>
        <li>SP train the athletes in a manner so that they can perform their best during the competition without any
          chances of getting injured.
        </li>
        <li> Twisting injuries</li>
        <li> Ankle Sprains</li>
        <li>Strains</li>
        <li> SP plan the post-injury rehab program for the athletes which helps them to return to their game again with
          full confidence, restored functions, and without any pain or inability.</li>
      </ul>
    </div>
    <div class="information-with-point-2">
      <div class="information-2-image">
        <img src="images/ourServicesData/specialisedData/sports-2.jpg" loading="lazy" alt="Sports Therapy" />
      </div>
      <div class="information-2">
        <ul>
          <li>
            Along with injury treatment, SP also works in the field for proper assessment as well as training for a
            specific event or in other words training of specific movement or muscles that are used during sports
            activity so as to prevent it from any injury.
          </li>
          <li>
            Sports Physiotherapy helps in providing a good rehab program in order to help an athlete return to their
            sports after the injury.
          </li>
          <li>
            The instant when a player gets injured in the field it&apos;s the duty of Sports therapists who have to work
            and decide the most appropriate treatment they can provide in order to help their players get back to their
            game. It&apos;s the Sports therapist who decides whether the player is fit for the event or not.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="faqs">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            What does a sports physiotherapist do?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The essential role of a sports physiotherapist in international and elite sports and all other levels of the
            sport, is to provide treatment and rehabilitation of injuries and to improve performance through injury
            prevention, maintenance, and recovery interventions.

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What does Sports physiotherapy treatment aim at?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The aim is to improve the quality of life and enhance performance. Sports physiotherapy treatment includes
            healing, minimizing, and preventing the risk of sports injuries, disorders, or diseases.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            What happens in Sports physiotherapy?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sports Physiotherapy includes using methods like massage, physical activity, and manipulation among others
            to heal and prevent injuries. It also includes a structured exercise plan to strengthen weak muscles and
            ligaments prone to injuries.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            What are the benefits that we provide?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Our sports physiotherapist not only specializes in treating injuries but also in planning an effective
            ‘return to sports training’ to help reduce the incidence of re-injury. They help minimize the risk of
            overuse injuries as well.
          </div>
        </div>
      </div>

  </section>

  <%- include("../../apointment.ejs") -%> <%- include("../../footer.ejs") -%>